.header {
    height: 100vh;
    background-image: url(../assets/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.header__combo {
    padding: 13% 55% 10% 5%;
    text-align: center;
}

.header__combo__title {
    font-size: 1.75rem;
    font-weight: bold;
    text-align: center;
}

.header__combo__image {
    margin: 22px 0 54px 0;
}

.header__combo__subscribe {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.subscribe__button {
    text-decoration: none;
    width: 100%;
    max-width: 512px;
    background-color: var(--button-blue);
    padding: 1rem;
    border-radius: 8px;
    color: var(--default-white);
    text-align: center;
}

.secondary_button {
    background-color: transparent;
    border: 1px solid var(--default-white);
}

.header__combo__subscribe__warning {
    font-size: .75rem;
    color: var(--secondary-grey);
    margin-top: 10px;
}